<% include base/head %>

<h1>Add Collection</h1>

<form class="" action="/collection/add" method="post">

  <label for="title">Title</label>
  <input id="title" type="text" name="title">

  <label for="url">Url</label>
  <input id="url" type="text" name="url">

  <label for="tags">Tags</label>
  <input id="tags" type="text" name="tags">

  <button type="submit" name="button">Add to collection</button>

</form>

<% include base/footer %>
